<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Malignancy Detector</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
</head>
 
<Body background="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/breast-cancer-background-alt-design-template-6d2a50369bb6eea58e942bed7f89e090.jpg?ts=1615237454"
<body>


    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Malignancy Detector</h1>
          <p>A Machine Learning Model That Predicts the Malignancy of a Tumor</p>
        </div>
  
 <div class=“login”>
    <!-- Get input for predict the Malignancy -->
    <center>
      <form action="{{ url_for('predict') }}" method=post>
      <form>
        <h1>Enter values of tumor features >>></h1>
      <input type=“text” name=“radius” placeholder= radius required=“required” />
        <input type=“text” name=“texture” placeholder= texture required=“required” />
    <input type=“text” name=“perimeter” placeholder= perimeter required=“required” />
    <input type=“text” name=“area” placeholder= area required=“required” />
    <br>
      <input type=“text” name=“smoothness” placeholder= smoothness required=“required” />
    <input type=“text” name=“compactness” placeholder= compactness required=“required” />
    <input type=“text” name=“concavity” placeholder= concavity required=“required” />
        <input type=“text” name=“concave_points” placeholder= concave concave_points” required=“required” />
    <br>
      <input type=“text” name=“symmetry” placeholder= symmetry required=“required” />
      <input type=“text” name=“fractal_dimension” placeholder= fractal_dimension required=“required” />
      <br>
        <br>
        <br>
        <!-- Show button -->
        <div class=“button_cont” text-align=“center”><a class=“button_css” target=“_blank” rel=“nofollow noopener”>
            <button type=“submit” class=“btn btn-primary btn-block btn-large”><strong>Predict type of Tumor</strong></button></a>
        </div>
    </form>
    </centre>
   <!-- Show predicted output using ML model -->
   <div>
       <center>
   <h1>{{ prediction_text }}</h1>
       </center>
   </div>
        
      </div>
    </div>
  </div>
  <!-- End of container -->
  <!-- Start of footer -->
  <footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
      &copy; Copyright Coding Bootcamp 2020
    </p>
  </footer>
  <!-- End of footer -->
    
</body>
</html>
