<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Breast Cancer ML App</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

</head>

<body>
    <body style="background: rgb(233, 156, 192);">
 <div class="login">
	<h1>Malignancy Detector</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="radius_mean" placeholder="radius_mean" required="required" />
        <input type="text" name="texture_mean" placeholder="texture_mean" required="required" />
		<input type="text" name="perimeter_mean" placeholder="perimeter_mean" required="required" />
        <input type="text" name="area_mean" placeholder="area_mean" required="required" />
        <input type="text" name="smoothness_mean" placeholder="smoothness_mean" required="required" />
        <input type="text" name="compactness_mean" placeholder="compactness_mean" required="required" />
        <input type="text" name="concavity_mean" placeholder="concavity_mean" required="required" />
        <input type="text" name="concave_points_mean" placeholder="concave_points_mean" required="required" />
        <input type="text" name="symmetry_mean" placeholder="symmetry_mean" required="required" />
        <input type="text" name="fractal_dimension_mean" placeholder="fractal_dimension_mean" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Type of Tumor</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
